:root{
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --grey-000: #F5F5F5;
    --grey-100: #E0E0E0;
    --grey-300: #828282;
    --grey-600: #333333;
    --grey-modal-20: rgba(0,0,0, .2);

    --alert-negative: #E60000;
    --alert-warning: #FFCD07;
    --alert-sucess: #168821;
    --alert-information:#155BCB;

    --font-primary: 'Inter', sans-serif;
    
}

