*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 57rem;
}
ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
  
}
input{
    background: transparent;
    border: none;

}

a{
    text-decoration: underline;
}